.is-spacer-1 {
    margin-bottom: 1em !important;
}

.is-spacer-2 {
    margin-bottom: 2em !important;
}

.is-spacer-3 {
    margin-bottom: 3em !important;
}

.is-spacer-4 {
    margin-bottom: 4em !important;
}